<c-modal #modalDescartarEquipamento id="modalDescartarEquipamento" backdrop="static" size="sm">
    <form [formGroup]="myForm" (submit)="onSubmit();">
        <c-modal-header>
            <h5 cModalTitle>{{ title }}</h5>
            <button [cModalToggle]="modalDescartarEquipamento.id" cButtonClose></button>
        </c-modal-header>
        <c-modal-body>
            <!-- Colocar input e select na mesma linha -->
            <div class="row g-3 mb-3">

                <div class="col-md-12">
                    <label cLabel for="disposal_date">Data de Descarte:</label>
                    <input type="date" id="disposal_date" cFormControl
                        formControlName="disposal_date" class="form-control" />
                </div>

                <div class="col-md-12">
                    <label cLabel for="reason">Motivo</label>
                    <textarea  id="reason" cFormControl rows="4"
                        formControlName="reason" class="form-control" placeholder="Motivo de descarte" >
                    </textarea>
                     <!-- Mensagens de erro -->
                     <div *ngIf="submitted && myForm.controls['reason'].errors" class="text-danger mt-2">
                        <div *ngIf="myForm.controls['reason'].errors['required']">Motivo é obrigatório.</div>
                    </div>
                </div>

            </div>
        </c-modal-body>
        <c-modal-footer>
            <!-- Botão para fechar o modal -->
            <button cButton color="danger" (click)="onReset()" class="text-white">Limpar</button>

            <!-- Botão para salvar -->
            <button cButton color="primary" type="submit" [disabled]="myForm.invalid || loading">
                <!-- Botão desabilitado se o formulário for inválido ou estiver carregando -->
                <ng-container *ngIf="!loading; else loadingTemplate">Salvar</ng-container>
                <ng-template #loadingTemplate>
                    <c-spinner aria-hidden="true" size="sm"></c-spinner>
                    Carregando...
                </ng-template>
            </button>
        </c-modal-footer>
    </form>
</c-modal>